     <footer>
        <div class="container">
            copyright © 2019 todos os direitos reservados
        </div>
     </footer>



<script type="text/javascript" src="./assets/js/script.js"></script>
</body>
</html>