<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8"/>    
	<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta name="description" content="WebStock é um sistema web de gestão de estoque onde você irá encontrar ferramentas que irão facilitar sua rotina de cadastro e controle de produtos.">
	<title>Webstock</title>
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css"/>
	<link rel="shortcut icon" type="image/png" href="./assets/midia/img/icons/favicon.png">
</head>
<body>


     <header>
         <div class="container">
            <div class="logo">
                <a href="/home"><img src="./assets/midia/img/logo-header.png" alt="WEBSTOCK"></a>
            </div>
            <div class="icon-menu">
            </div>
            <nav class="menu">
                <ul>
                    <li>
                        <a href="/profile">
                        <div class="menu-txt">
                            <div class="menu-txt-licenca">Licenciado para</div>
                            <div class="menu-txt-nome">Nome do Usuário</div>
                        </div>
                        <div class="menu-foto-perfil"></div>
                        </a>
                    </li>
                    <li><a href="/profile">Perfil</a></li>
                    <li><a href="/config">Configurações</a></li>
                    <li>
                        <a class="menu-logout" href="/logout">
                            <img src="./assets/midia/img/icons/logout-icon.png" alt="SAIR">
                            SAIR
                        </a>
                    </li>
                </ul>
            </nav>
         </div>
     </header>